a {
  color: #5f666e;
}

a:hover {
  color: #fe938c;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

li {
  color: #25408f;
}

/* PROJECT ------------------------------------------- */
#work_header {
  margin-left: 18.8vw;
  margin-top: 2vw;
  display: inline-block;
}

.header {
  margin-top: 5vw;
}

.project1_circle {
  position: absolute;
  width: 44.315vw;
  height: 44.315vw;
  margin-top: -10%;
  margin-left: -5%;
  margin-bottom: 3%;
  overflow: hidden;
  border-radius: 50%;
  background: #fe938c;
}

.prog_image_frame {
  float: left;
  display: relative;
  margin-top: 1%;
}

.project_section {
  margin-bottom: 5vw;
}

.project1_text {
  margin-left: 12%;
  margin-top: 1%;
  max-width: 35%;
  display: inline-block;
}
.project {
  display: inline-block;
}

#p2 {
  margin-top: 5%;
  padding-top: 3%;
}

.proj_pic {
  width: 38.989vw;
  height: 26.59vw;
  margin-left: 22%;
  margin-top: 2%;
  display: inline-block;
  border: 1vw solid #a7a7a7;
}

.proj_pic2 {
  width: 576px;
  height: 388.68px;
  margin-left: 22%;
  margin-top: 2%;

  display: inline-block;
}

.project_description {
  margin-left: 8.8vw;
  margin-top: 5vw;
  max-width: 67%;
}

.all_challenges {
  margin-top: 5%;
  margin-bottom: 5%;
}

#challenge1 {
  margin-left: 10%;
  margin-right: 5%;
}
#challenge2 {
  margin-right: 6%;
}

#sketch_img {
  float: left;
  margin-left: -106%;
  margin-top: 35%;
  position: absolute;
}

#second_proto_img {
  margin-left: 10%;
}

#proto2div {
  margin-top: 20%;
}

#finalprojdiv {
  margin-top: 10%;
}

#final_proj_img {
  border: 0.65rem solid #a7a7a7;
}

#palette_img {
  margin-top: 15%;
}

.foreground {
  position: relative;
  z-index: 0;
}

.background {
  z-index: -1;
}
